<h1>Completed Hikes</h1>
<body class="hikes">
<a href="/">Home</a>|
<a href="users">Users</a>|
<a href="trails">Trails</a> | 
<a href="trail_types">Trail Types</a> | 
<a href="inventory_items">Inventory Items</a> |
<a href="packing_lists">Packing Lists</a> | 
<a href="packing_list_details">Packing List Details</a> | 
<a href="hikes">Completed Hikes</a>&nbsp;<br>

<br>

{{!-- Create a table --}}
<table class="hikes" id = "hikes-table">

    {{!-- Header section --}}
    <thead>

        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{#each data}}
        <tr>
            <td>{{this.ID}}</td>
            <td>{{this.FirstName}}</td>
            <td>{{this.LastName}}</td>
            <td>{{this.Trail}}</td>
            <td>{{this.PackingList}}</td>
            <td>{{this.Date}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

<h2>Add Completed Hike</h2>
<form class="hikes" id="add-hikes" method="POST" action="/add-hikes">
    <select name="input-id_user" id="input-id_user">
        <option value="">Select a User</option>
        {{#each id_user}}
        <option value="{{this.id_user}}">{{this.first_name}} {{this.last_name}}</option>
        {{/each}}
    </select>
    <select name="input-id_trail" id="input-id_trail">
        <option value="">Select a Trail</option>
        {{#each id_trail}}
        <option value="{{this.id_trail}}">{{this.trail_name}}</option>
        {{/each}}
    </select>
    <select name="input-id_packing_list" id="input-id_packing_list">
        <option value="">Select a Packing List</option>
        {{#each id_packing_list}}
        <option value="{{this.id_packing_list}}">{{this.id_packing_list}}</option>
        {{/each}}
    </select>
    <label for = "hike_date">Date of Hike</label>
    <input type="date" name="input-hike_date" id="input-hike_date">
    <input type="submit">
</form>

<h2>Delete Completed Hike</h2>
<form class="hikes" id="delete-hikes" method="POST" action="/delete-hikes">
  <select name="input-id_hike" id="input-id_hike">
        <option value="">Select a Hike ID</option>
        {{#each data}}
        <option value="{{this.ID}}">{{this.ID}}</option>
        {{/each}}
  </select>
    <input type="submit">
</form>
</body>
