<!-- index.hbs -->
<h1>Trails</h1>

<a href="/">Home</a>|
<a href="users">Users</a>|
<a href="trails">Trails</a> | 
<a href="trail_types">Trail Types</a> | 
<a href="inventory_items">Inventory Items</a><br>
<a href="packing_lists">Packing Lists</a> | 
<a href="packing_list_details">Packing List Details</a> | 
<a href="hikes">Completed Hikes</a>&nbsp;<br>

<br>

{{!-- Create a table --}}
<table id = "trails-table">

    {{!-- Header section --}}
    <thead>

        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{#each data}}
        <tr>
            <td>{{this.ID}}</td>
            <td>{{this.Name}}</td>
            <td>{{this.Location}}</td>
            <td>{{this.Type}}</td>
            <td>{{this.Distance}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>


<h2>Add Trail</h2>
<form id="add-trail-form" method="POST" action="/add-trail-form">
    <label for="input-trail_name">Trail Name: </label>
    <input type="text" name="input-trail_name" id="input-trail_name">
    
    <label for="input-trail_location">Location: </label>
    <input type="text" name="input-trail_location" id="input-trail_location">

    <label for="input-trail_type">Type: </label>
    <input type="number" name="input-trail_type" id="input-trail_type">

    {{!-- <select name="input-trail_type" id="input-trail_type">
        <option value="">Select a Trail Type</option>
        {{#each trail_types}}
        <option value="{{this.id_trail_type}}">{{this.trail_type_description}}</option>
        {{/each}}
    </select> --}}

    <label for="input-trail_distance">"Distance  [10th mi: e.g. xxxx.x]: </label>
    <input type="text" name="input-trail_distance" id="input-trail_distance">

    <input type="submit">
</form>

<h2>Update Trail</h2>
<form id="update-trail-form" method="POST" action="/update-trail-form">

    <label for="input-id_trail">ID: </label>
    <input type="number" name="input-id_trail" id="input-id_trail">
    
    <label for="input-trail_name">Trail Name: </label>
    <input type="text" name="input-trail_name" id="input-trail_name">
    
    <label for="input-trail_location">Location: </label>
    <input type="text" name="input-trail_location" id="input-trail_location">

    <label for="input-trail_type">Type: </label>
    <input type="number" name="input-trail_type" id="input-trail_type">

    {{!-- <select name="input-trail_type" id="input-trail_type">
        <option value="">Select a Trail Type</option>
        {{#each trail_types}}
        <option value="{{this.id_trail_type}}">{{this.trail_type_description}}</option>
        {{/each}}
    </select> --}}

    <label for="input-trail_distance">"Distance  [10th mi: e.g. xxxx.x]: </label>
    <input type="text" name="input-trail_distance" id="input-trail_distance">

    <input type="submit">
</form>


<h2>Delete Trail</h2>
<form id="delete-trail-form" method="POST" action="/delete-trail-form">

    <label for="input-id_trail">Trail ID: </label>
    <input type="number" name="input-id_trail" id="input-id_trail">

    <input type="submit">
</form>
