<!-- index.hbs -->
<h1>Users</h1>

<a href="/">Home</a>|
<a href="users">Users</a>|
<a href="trails">Trails</a> | 
<a href="trail_types">Trail Types</a> | 
<a href="inventory_items">Inventory Items</a><br>
<a href="packing_lists">Packing Lists</a> | 
<a href="packing_list_details">Packing List Details</a> | 
<a href="hikes">Completed Hikes</a>&nbsp;<br>

<br>

{{!-- Create a table --}}
<table id = "users-table">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, etc. --}}
        {{#each data}}
        <tr>
            <td>{{this.ID}}</td>
            <td>{{this.First}}</td>
            <td>{{this.Last}}</td>
            <td>{{this.email}}</td>
            <td>{{this.City}}</td>
            <td>{{this.TotalMiles}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

<h2>Add User</h2>
<form id="add-user-form" method="POST" action="/add-user-form">
    <label for="input-first_name">First Name: </label>
    <input type="text" name="input-first_name" id="input-first_name">
    
    <label for="input-last_name">Last Name: </label>
    <input type="text" name="input-last_name" id="input-last_name">

    <label for="input-email">email: </label>
    <input type="text" name="input-email" id="input-email">

    <label for="input-user_location">City: </label>
    <input type="text" name="input-user_location" id="input-user_location">

    <input type="submit">
</form>


<h2>Update Trail</h2>
<form id="update-user-form" method="POST" action="/update-user-form">

    <label for="input-id_user">ID: </label>
    <input type="number" name="input-id_user" id="input-id_user">
    
    <label for="input-first_name">First Name: </label>
    <input type="text" name="input-first_name" id="input-first_name">

    <label for="input-last_name">Last Name: </label>
    <input type="text" name="input-last_name" id="input-last_name">
    
    <label for="input-email">email: </label>
    <input type="text" name="input-email" id="input-email">

    <label for="input-trail_type">Type: </label>
    <input type="number" name="input-trail_type" id="input-trail_type">

    {{!-- <select name="input-trail_type" id="input-trail_type">
        <option value="">Select a Trail Type</option>
        {{#each trail_types}}
        <option value="{{this.id_trail_type}}">{{this.trail_type_description}}</option>
        {{/each}}
    </select> --}}

    <label for="input-trail_distance">"Distance  [10th mi: e.g. xxxx.x]: </label>
    <input type="text" name="input-trail_distance" id="input-trail_distance">

    <input type="submit">
</form>


<h2>Delete User</h2>
<form id="delete-user-form" method="POST" action="/delete-user-form">

    <label for="input-id_user">User ID: </label>
    <input type="number" name="input-id_user" id="input-id_user">

    <input type="submit">
</form>
